<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro 400: Requisição Inválida</title>
    <!-- Inclua o link para o Bootstrap aqui, se ainda não estiver incluído -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
    <div class="container mt-5">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Erro 400: Requisição Inválida</h4>
            <p>Desculpe, a sua requisição não pode ser processada devido a um erro.</p>
            <hr>
            <p class="mb-0">Verifique se você enviou todos os dados necessários e tente novamente.</p>
        </div>
    </div>
</body>
</html>
